@font-face {
    font-family: "CeraRoundPro";
    font-weight: normal;
    src: url("../fonts/CeraRoundPro-Regular.otf") format("opentype"),
      url("../fonts/CeraRoundPro-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "CeraRoundPro";
    font-weight: bold;
    src: url("../fonts/CeraRoundPro-Bold.otf") format("opentype"),
      url("../fonts/CeraRoundPro-Bold.ttf") format("truetype");
  }