@import "./fonts.scss";
@import "./variables.scss";
@import "./mixins.scss";

body {
  margin: 0;
  background-color: $site-bg;
  font-family: "CeraRoundPro", Calibri;
  font-size: 16px;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.5;
}

a {
  text-decoration: none;
  line-height: 1.5;
}

p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.btn {
  padding: 18px 34px;
  border-radius: 30px;
  color: $txt-color;
  font-weight: bold;
  cursor: pointer;
  &.btn--transparent {
    border: 2px solid $btn-border-color;
    padding-top: 15px;
    padding-bottom: 17px;
    &:hover {
      background-color: $header-btn--hovered-bg;
      transition: 0.4s;
    }
  }
  &.btn--pink {
    background-color: $btn-bg;
    &:hover {
      background-color: $btn--hovered-bg;
      transition: 0.4s;
    }
  }
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  .header-container {
    @include container;
    @include flex-justify-between;
    padding-top: 20px;

    .header-logo {
      @include logo-img;
      background-size: contain;
      flex-basis: 34%;
      width: 200px;
      height: 40px;
    }

    .header-nav {
      @include flex-justify-between;
      flex-basis: 66%;
    }

    .header-menu {
      @include flex-justify-between;
      flex-grow: 1;
      padding-right: 70px;

      li {
        display: inline-block;

        a {
          position: relative;
          font-weight: bold;
          color: $txt-color;
          &:hover:before {
            content: " ";
            position: absolute;
            bottom: -8px;
            left: 50%;
            width: 4px;
            height: 4px;
            background-color: $txt-color;
            border-radius: 50%;
            transition: 0.4s;
          }
        }
      }
    }
  }
}

.slider {
  .carousel-cell {
    width: 100%;
    height: 750px;
    margin-right: 10px;
    &.carousel-cell-1,
    &.carousel-cell-2 {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-position: 50% 0;
    }
    &.carousel-cell-1 {
      background-image: url(../images/screen-1.png);
    }
    &.carousel-cell-2 {
      background-image: url(../images/screen-2.png);
    }
  }

  .slider-container {
    @include container;

    .slider-desc {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      max-width: 760px;
      min-height: 750px;
      height: 750px;
      margin: 0 auto;
      text-align: center;

      .title {
        margin-bottom: 50px;
        text-align: center;
        color: $txt-color;
        max-width: 760px; // for ie
      }

      .slider-desc-subtitle {
        margin-bottom: 50px;
        font-size: 1.5rem;
        font-weight: 500;
        color: $txt-color;
        max-width: 760px; //for ie
      }
    }
  }

  .flickity-page-dots {
    display: inline-block;
    width: 70px;
    bottom: 45px;
    left: 50%;
    border: 1px solid $slider-nav-border;
    border-radius: 0.5rem;
    transform: translate(-50%);

    .dot {
      width: 1rem;
      height: 1px;
      margin: 0 0 4px 0;
      background-color: $slider-nav-bg;
      vertical-align: middle;
      &.is-selected {
        background-color: $slider-nav--active-bg;
      }
      &:first-child {
        margin-right: 8px;
      }
    }
  }
}

.about {
  position: relative;

  .about-container {
    @include container;
    @include flex-justify-center;
    max-width: 980px;
    min-height: 955px;
    height: 750px;
  }

  .adout-img {
    background-image: url(../images/mokup.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 335px;
    height: 650px;
    padding-right: 130px;
  }

  .title {
    margin-bottom: 25px;
    color: $txt--darker-color;
  }

  p {
    margin-bottom: 25px;
    line-height: 1.5;
    color: $txt--darker-color;
  }

  .about-desc-list {
    width: 80%;
    margin-bottom: 35px;
    padding-left: 15px;
    color: $txt--darker-color;

    li {
      margin-bottom: 15px;
      line-height: 1.5;

      &:before {
        content: " ";
        position: absolute;
        width: 5px;
        height: 5px;
        margin-top: 11px;
        margin-left: -17px;
        background-color: $list-disc-bg;
        border-radius: 50%;
      }
    }
  }
}

.form {
  @include flex-justify-center;
  position: relative;
  flex-direction: column;
  background-color: $form-bg;
  min-height: 580px;
  height: 580px;
  text-align: center;
  color: $txt--darker-color;

  .title {
    margin-bottom: 50px;
  }

  .form-subtitle {
    max-width: 760px;
    margin-bottom: 50px;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .btn {
    padding: 20px 35px;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 1rem;
  }

  .form-input {
    background-color: transparent;
    width: 318px;
    margin-right: 40px;
    padding: 20px 20px;
    border: 1px solid $input-border;
    border-radius: 30px;
    outline: none;
    font-family: inherit;
    font-size: 0.875rem;
    color: $txt--darker-color;
    &::placeholder {
      color: $input-placeholder-color;
    }
  }

  //fix autocomplete
  .form-input:-webkit-autofill,
  .form-input:-webkit-autofill:hover,
  .form-input:-webkit-autofill:focus {
    -webkit-text-fill-color: $txt--darker-color;
    transition: background-color 5000s ease-in-out 0s;
  }

  .form-input-msg {
    &.form-input-msg--error {
      position: absolute;
      font-size: 0.875rem;
      color: $txt--error-color;
    }
    &.form-input-msg--success {
      position: absolute;
      bottom: 100px;
      left: 50%;
      transform: translate(-50%);
      font-weight: bold;
    }
  }
}

.lines-img {
  position: absolute;
  left: -50px;
  top: -35px;
  background-image: url(../images/lines.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 170%;
  width: 950px;
  height: 930px;
  z-index: -1;
}

.diagram-img {
  position: absolute;
  right: 95px;
  bottom: -170px;
  background-image: url(../images/diagram.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 483px;
  height: 483px;
  z-index: -1;
}

.footer {
  background-color: $footer-bg;

  .footer-container {
    @include container;
  }

  .footer-logo {
    @include logo-img;
    background-size: cover;
    width: 160px;
    height: 17px;
    margin-right: 240px;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      // for ie
      background-size: 180%;
      background-position: center 0;
    }
  }

  .footer--top {
    @include flex-justify-between;
    padding-top: 65px;
    padding-bottom: 50px;

    .footer-nav {
      @include flex-justify-between;
      width: calc(100% - 160px - 240px);

      .footer-menu {
        @include flex-justify-between;
        flex-grow: 1;
        padding-right: 70px;
      }
      a {
        font-weight: normal;
        color: $txt-color;
      }
    }
  }

  hr {
    height: 1px;
    margin: 0;
    background-color: $footer-hr;
    border: none;
  }

  .footer--bottom {
    text-align: center;
    color: $txt-color;
    .footer-copyright {
      margin: 0;
      padding-top: 35px;
      padding-bottom: 30px;
      a {
        color: $txt-link-color;
      }
    }
  }
}
