$site-bg: #fafaff;

$txt-color: #ffffff; 
$txt--darker-color: #60759d;
$txt-link-color: #e70067;
$txt--error-color: #e70067;

$btn-border-color: #5489c3;
$header-btn--hovered-bg: #5489c3;

$btn-bg: #e70067;
$btn--hovered-bg: #c9005a;

$form-bg: #e3e7f3;
$input-border: #4f699b;
$input-placeholder-color: #a8b2bf;

$footer-bg: #39649d;
$footer-hr: #335b91;

$slider-nav--active-bg: #fafbfd;
$slider-nav-bg: #5489c3;
$slider-nav-border: #5489c3;

$list-disc-bg: #16afe0;